<a href="https://colab.research.google.com/github/fc327/Farahin-TTHS/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##functions

In [ ]:
def tri_recursion(x):
  if(x >0):
    result = x + tri_recursion(x-1)
  else:
    result = 0
  return result
print('recursion results')
tri_recursion(6)

recursion results

21

### data wrangling
from this tutorial: https://www.youtube.com/watch?v=vSyymtg_BVw

In [ ]:
import pandas as pd
rewards_df = pd.read_csv('RewardsData.csv')
rewards_df.head()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42,ClassOf2025
1,2,NaN,Los Angeles,Colorado,90210,320,320,0,8/19/2020 11:15,4/13/2022 14:28,ClassOf2025|apple
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A

In [ ]:
# creates a dataframe which contains either 'true' or 'false' to
# indicate whether there is missing data or not
rewards_df.isna()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7247,False,True,True,True,True,False,False,False,False,False,False
7248,False,True,True,True,True,False,False,False,False,False,False
7249,False,False,True,True,True,False,False,False,False,False,False
7250,False,True,True,True,True,False,False,False,False,False,False
7251,False,True,True,True,True,False,False,False,False,False,False

In [ ]:
# counts total # of missing values in each column
missing_value_counts = rewards_df.isna().sum()
missing_value_counts

User ID                   0
Birthdate              6080
City                   6922
State                  6922
Zip                    6922
Available Points          0
Total Points Earned       0
Points Spent              0
Joined On                 0
Last Seen               221
Tags                      0
dtype: int64

In [ ]:
# calculate % of missing values in each column
missing_value_perc = missing_value_counts/len(rewards_df)*100
missing_value_perc

User ID                 0.000000
Birthdate              83.838941
City                   95.449531
State                  95.449531
Zip                    95.449531
Available Points        0.000000
Total Points Earned     0.000000
Points Spent            0.000000
Joined On               0.000000
Last Seen               3.047435
Tags                    0.000000
dtype: float64

In [ ]:
rewards_df['Last Seen']

0       12/16/2021 17:42
1        4/13/2022 14:28
2        4/21/2021 10:54
3        6/30/2022 22:22
4       12/30/2020 10:57
              ...
7247     6/30/2022 12:04
7248     6/28/2022 22:43
7249     6/30/2022 12:48
7250     6/30/2022 20:39
7251       7/1/2022 2:42
Name: Last Seen, Length: 7252, dtype: object

In [ ]:
rewards_df['Last Seen'] = pd.to_datetime(rewards_df['Last Seen'])
rewards_df['Last Seen']

0      2021-12-16 17:42:00
1      2022-04-13 14:28:00
2      2021-04-21 10:54:00
3      2022-06-30 22:22:00
4      2020-12-30 10:57:00
               ...
7247   2022-06-30 12:04:00
7248   2022-06-28 22:43:00
7249   2022-06-30 12:48:00
7250   2022-06-30 20:39:00
7251   2022-07-01 02:42:00
Name: Last Seen, Length: 7252, dtype: datetime64[ns]

In [ ]:
rewards_df['Last Seen'].max()

Timestamp('2022-07-01 08:36:00')

In [ ]:
rewards_df['Last Seen'].min()

Timestamp('2020-10-12 14:38:00')

In [ ]:
rewards_df['Last Seen'].fillna(value = rewards_df['Last Seen'].min(), inplace = True)

In [ ]:
missing_value_counts = rewards_df.isna().sum()
print(missing_value_counts)

User ID                   0
Birthdate              6080
City                   6922
State                  6922
Zip                    6922
Available Points          0
Total Points Earned       0
Points Spent              0
Joined On                 0
Last Seen                 0
Tags                      0
dtype: int64

In [ ]:
# drop records with missing values, assign result to new df
rewards_df_sample = rewards_df.dropna()
rewards_df_sample

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,2021-12-16 17:42:00,ClassOf2025
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,2021-04-21 10:54:00,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,2022-06-30 22:22:00,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,2020-12-30 10:57:00,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
5,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,2022-06-08 23:55:00,GraduateStudent|admin
...,...,...,...,...,...,...,...,...,...,...,...
7228,7219,6/12/2004,Lutherville,Maryland,21093,490,490,0,6/22/2022 17:28,2022-06-30 08:43:00,Student|ClassOf2026
7229,7220,8/7/1999,Winston-Salem,North Carolina,27106,430,430,0,6/22/2022 17:36,2022-06-26 16:39:00,Student|ClassOf2023
7236,7227,3/14/2000,Clemmons,North Carolina,27012,460,460,0,6/23/2022 22:18,2022-06-29 23:40:00,Student|GraduateStudent
7239,7230,5/18/1999,Winston Salem,North Carolina,27107,410,410,0,6/24/2022 16:03,2022-06-24 16:06:00,Student|GraduateStudent
7244,7235,6/20/2004,Guaynabo,Puerto Rico,969,440,440,0,6/27/2022 10:21,2022-07-01 08:36:00,Student|ClassOf2026

In [ ]:
# drop the 'tags' column from the sample df
rewards_df_sample = rewards_df_sample.drop(columns = 'Tags')
rewards_df_sample

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,2021-12-16 17:42:00
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,2021-04-21 10:54:00
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,2022-06-30 22:22:00
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,2020-12-30 10:57:00
5,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,2022-06-08 23:55:00
...,...,...,...,...,...,...,...,...,...,...
7228,7219,6/12/2004,Lutherville,Maryland,21093,490,490,0,6/22/2022 17:28,2022-06-30 08:43:00
7229,7220,8/7/1999,Winston-Salem,North Carolina,27106,430,430,0,6/22/2022 17:36,2022-06-26 16:39:00
7236,7227,3/14/2000,Clemmons,North Carolina,27012,460,460,0,6/23/2022 22:18,2022-06-29 23:40:00
7239,7230,5/18/1999,Winston Salem,North Carolina,27107,410,410,0,6/24/2022 16:03,2022-06-24 16:06:00
7244,7235,6/20/2004,Guaynabo,Puerto Rico,969,440,440,0,6/27/2022 10:21,2022-07-01 08:36:00

In [ ]:
# unique values for the cities in the df
city_unique_values = rewards_df_sample['City'].unique()
city_unique_values

# sort these values
city_unique_values.sort()

In [ ]:
city_unique_values

array(['Atlanta', 'Aurora ', 'Austin', 'Bakersfield', 'Belmont ',
       'Bethesda ', 'Bourne', 'Chapel Hill', 'Charlotte', 'Charlotte ',
       'Clemmons', 'Cleveland', 'Clovis', 'Dallas', 'Delhi', 'Delran',
       'Downers Grove', 'Durham', 'Duxbury', 'Edina', 'Fort Myers ', 'G',
       'Gainesville', 'Greensboro', 'Guaynabo', 'Huntersville',
       'Indian Trail', 'Jacksonville ', 'Jamesville', 'Larchmont',
       'Libertyville', 'Lincoln University', 'Littleton', 'Lmao',
       'Locust', 'Louisville', 'Lutherville', 'Malvern',
       'Manhattan beach ', 'Marblehead', 'Memphis', 'Merida', 'Milwaukee',
       'Minneapolis ', 'Mooresville', 'Morganton', 'Mt. Pleasant ',
       'Nashville', 'Northport', 'Oakwood', 'Orleans ', 'Ormond Beach',
       'Palm Beach Gardens', 'Palmetto Bay', 'Perry', 'Pittsburgh', 'Rex',
       'Rocky hill', 'Rome', 'San Marcos', 'Sharon', 'Smithtown',
       'Summit', 'Supply', 'Terrace Park', 'Thomasville', 'Valrico ',
       'Walkertown', 'Waukegan', 'Waxhaw', 'West Chester', 'Weston',
       'Westport', 'Whitesboro', 'Winston Salem', 'Winston Salem ',
       'Winston salem', 'Winston salem ', 'Winston-Salem',
       'Winston-Salem ', 'Winston-Salem, NC', 'Winston-salem', 'Wyckoff',
       'dover', 'winston salem '], dtype=object)

In [ ]:
# there are several records of 'winston salem' with varying spelling
# these will need to be replaced

rewards_df_sample['City'].replace(to_replace=['Winston Salem', 'Winston Salem ',
       'Winston salem', 'Winston salem ', 'Winston-Salem',
       'Winston-Salem ', 'Winston-Salem, NC', 'Winston-salem'], value = 'Winston-Salem', inplace = True)

/tmp/ipython-input-2456214992.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rewards_df_sample['City'].replace(to_replace=['Winston Salem', 'Winston Salem ',

In [ ]:
rewards_df_sample['City'] = rewards_df_sample['City'].str.strip()
rewards_df_sample['City'] = rewards_df_sample['City'].str.title()
city_unique_values = rewards_df_sample['City'].unique()

In [ ]:
city_unique_values

array(['Minneapolis', 'Merida', 'Winston-Salem', 'G', 'Thomasville',
       'Bethesda', 'Jacksonville', 'Durham', 'Orleans', 'Rocky Hill',
       'Delran', 'Milwaukee', 'Lincoln University', 'Perry', 'Atlanta',
       'Charlotte', 'Austin', 'Chapel Hill', 'Summit', 'Downers Grove',
       'Terrace Park', 'Lutherville', 'Wyckoff', 'Mt. Pleasant',
       'Northport', 'Pittsburgh', 'Bakersfield', 'Waukegan', 'Marblehead',
       'Morganton', 'Locust', 'Mooresville', 'Dallas', 'Sharon',
       'Larchmont', 'Lmao', 'Indian Trail', 'Littleton', 'Dover',
       'West Chester', 'Edina', 'Supply', 'Greensboro', 'Whitesboro',
       'Rex', 'Aurora', 'Malvern', 'Huntersville', 'Bourne', 'Belmont',
       'Waxhaw', 'Libertyville', 'Weston', 'Louisville', 'Nashville',
       'Gainesville', 'Westport', 'Jamesville', 'Memphis', 'Palmetto Bay',
       'Ormond Beach', 'Fort Myers', 'Oakwood', 'Manhattan Beach',
       'Winston Salem', 'Duxbury', 'San Marcos', 'Palm Beach Gardens',
       'Walkertown', 'Valrico', 'Clovis', 'Smithtown', 'Cleveland',
       'Rome', 'Delhi', 'Clemmons', 'Guaynabo'], dtype=object)

In [ ]:
us_state_to_abbrev = {
   "Alabama": "AL",
   "Alaska": "AK",
   "Arizona": "AZ",
   "California": "CA",
   "Colorado": "CO",
   "Connecticut": "CT",
   "Delaware": "DE",
   "District of Columbia": "DC",
   "Florida": "FL",
   "Georgia": "GA",
   "Hawaii": "HI",
   "Idaho": "ID",
   "Illinois": "IL",
   "Indiana": "IN",
   "Iowa": "IA",
   "Kansas": "KS",
   "Kentucky": "KY",
   "Louisiana": "LA",
   "Maine": "ME",
   "Maryland": "MD",
   "Massachusetts": "MA",
   "Michigan": "MI",
   "Minnesota": "MN",
   "Mississippi": "MS",
   "Missouri": "MO",
   "Montana": "MT",
   "Nebraska": "NE",
   "Nevada": "NV",
   "New Hampshire": "NH",
   "New Jersey": "NJ",
   "New Mexico": "NM",
   "New York": "NY",
   "North Carolina": "NC",
   "North Dakota": "ND",
   "Ohio": "OH",
   "Oklahoma": "OK",
   "Oregon": "OR",
   "Pennsylvania": "PA",
   "Rhode Island": "RI",
   "South Carolina": "SC",
   "South Dakota": "SD",
   "Tennessee": "TN",
   "Texas": "TX",
   "Utah": "UT",
   "Vermont": "VT",
   "Virginia": "VA",
   "Washington": "WA",
   "West Virginia": "WV",
   "Wisconsin": "WI",
   "Wyoming": "WY"
}

In [ ]:
# replace each state name with abbreviated version in dictionary

for state_name in us_state_to_abbrev:
  rewards_df_sample['State'].replace(to_replace=state_name, value = us_state_to_abbrev[state_name], inplace = True)

/tmp/ipython-input-2512673787.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rewards_df_sample['State'].replace(to_replace=state_name, value = us_state_to_abbrev[state_name], inplace = True)

In [ ]:
state_unique_values = rewards_df_sample["State"].unique()
state_unique_values.sort()
state_unique_values

array(['AL', 'CA', 'CO', 'CT', 'DC', 'FL', 'GA', 'IL', 'KY', 'MA', 'MD',
       'MN', 'NC', 'NJ', 'NM', 'NY', 'OH', 'PA', 'Puerto Rico', 'SC',
       'TN', 'TX', 'WI'], dtype=object)

In [ ]:
# convert us state dictionary to df for merging
states_df = pd.DataFrame(list(us_state_to_abbrev.items()),columns = ['State Name', 'State'])
states_df.head()

   State Name State
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3  California    CA
4    Colorado    CO

In [ ]:
# merge original df with the states df
rewards_df_sample = pd.merge(rewards_df_sample, states_df, on = 'State', how = 'left')
rewards_df_sample

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,State Name
0,1,1/31/1992,Minneapolis,GA,55401,300,300,0,9/4/2020 0:15,2021-12-16 17:42:00,Georgia
1,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,2021-04-21 10:54:00,Alabama
2,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,2022-06-30 22:22:00,North Carolina
3,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,2020-12-30 10:57:00,North Carolina
4,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,2022-06-08 23:55:00,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
167,7219,6/12/2004,Lutherville,MD,21093,490,490,0,6/22/2022 17:28,2022-06-30 08:43:00,Maryland
168,7220,8/7/1999,Winston-Salem,NC,27106,430,430,0,6/22/2022 17:36,2022-06-26 16:39:00,North Carolina
169,7227,3/14/2000,Clemmons,NC,27012,460,460,0,6/23/2022 22:18,2022-06-29 23:40:00,North Carolina
170,7230,5/18/1999,Winston-Salem,NC,27107,410,410,0,6/24/2022 16:03,2022-06-24 16:06:00,North Carolina
171,7235,6/20/2004,Guaynabo,Puerto Rico,969,440,440,0,6/27/2022 10:21,2022-07-01 08:36:00,NaN

In [ ]:
# rename state column to state abbrev
rewards_df_sample.rename(columns = {'State': 'State Abbreviation'}, inplace = True)
rewards_df_sample.head()

,User ID,Birthdate,City,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,State Name
0,1,1/31/1992,Minneapolis,GA,55401,300,300,0,9/4/2020 0:15,2021-12-16 17:42:00,Georgia
1,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,2021-04-21 10:54:00,Alabama
2,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,2022-06-30 22:22:00,North Carolina
3,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,2020-12-30 10:57:00,North Carolina
4,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,2022-06-08 23:55:00,Alabama

In [ ]:
# move state name column so that it shows up after state abbrev column

state_name_col = rewards_df_sample.pop('State Name')

rewards_df_sample.insert(3, 'State Name', state_name_col)
rewards_df_sample.head()

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen
0,1,1/31/1992,Minneapolis,Georgia,GA,55401,300,300,0,9/4/2020 0:15,2021-12-16 17:42:00
1,3,1/11/1990,Merida,Alabama,AL,97204,330,330,0,10/13/2020 16:20,2021-04-21 10:54:00
2,4,4/16/1990,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,8/18/2020 13:21,2022-06-30 22:22:00
3,5,3/24/1994,Winston-Salem,North Carolina,NC,27109,650,650,0,8/21/2020 11:27,2020-12-30 10:57:00
4,6,10/9/1995,G,Alabama,AL,85588,7085,7395,310,8/18/2020 14:28,2022-06-08 23:55:00

In [ ]:
zip_unique_values = rewards_df_sample['Zip'].unique()
zip_unique_values.sort()

In [ ]:
# string slicing
rewards_df_sample['Zip'] = rewards_df_sample['Zip'].str[:5]

In [ ]:
# boolean indexing to find zip codes that have 5 digits
zip_code_boolean_index = rewards_df_sample['Zip'].str.len() == 5
zip_code_boolean_index

0       True
1       True
2       True
3       True
4       True
       ...
167     True
168     True
169     True
170     True
171    False
Name: Zip, Length: 172, dtype: bool

In [ ]:
# drop records where the zips are < 5 digits
rewards_df_sample = rewards_df_sample[zip_code_boolean_index]

In [ ]:
len(rewards_df_sample)

155

In [ ]:
rewards_df_sample = rewards_df_sample[rewards_df_sample['City'] != 'G']
rewards_df_sample = rewards_df_sample[rewards_df_sample['City'] != 'Lmao']
len(rewards_df_sample)

153